@import "tailwindcss";
@plugin "@tailwindcss/typography";
html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}

/* Chrome, Edge, Brave */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #b5b5b5;
  border-radius: 999px;
  border: 3px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #8d8d8d;
}

::-webkit-scrollbar-corner {
  background: #ffffff;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #b5b5b5 #ffffff;
}
